body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* * {
  font-family: 'NanumBarunGothic';
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
} */

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

 .notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}  

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
} 

:root {
  --main-font: 'Do Hyeon', sans-serif;
}

.swal2-popup {
  font-size: 15px !important;
  font-weight: 100 !important;
  font-family: 'Noto Sans KR', sans-serif !important;
  border: none !important;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

input:hover{  
  cursor: pointer;
}

textarea:hover{  
  cursor: pointer;
}