.menuContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.menuTrigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto;
} 


.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.loginMenu {
  background: #ffffff;
  color: #333333;
  border-radius: 8px;
  position: absolute;
  font-weight: bold;
  top: 60px;
  right: 0;
  width: 150px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.loginMenu.active {
  opacity: 1;
  background: #ffffff;
  visibility: visible;
  transform: translateY(0);
}

.loginMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loginMenu li {
  border-bottom: 1px solid #dddddd;
}
.loginMenu li a  {
  font-family: var(--main-font);  
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}
